body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Set a default font family */
  /* line-height: 1.6; */
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 20px 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  padding: 20px;
}

nav  > ul{
  display: flex;
  gap: 20px;
  font-size: 18px;
}

img, p {
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  color: #e5e7eb; 
}

strong > a {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 80px;
  gap: 100px;
}

.hero-left, .hero-right {
  flex: 1;
  max-width: 500px;
}

.hero-right > img {
  height: 270px;
  width: 500px;
}

.hero-left > h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 15px;
}

.hero-left > p {
  color: #f9faf8;
  margin-bottom: 15px;
}

.hero-left > button {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
}

.infobar {
  text-align: center;
  padding: 50px;
}

.infobar > h1 {
  margin-bottom: 30px;
  font-weight: bolder;
  color: #1f2937;
}

.planets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.planet {
  width: 200px;
}

.planet img {
  height: 220px;
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 25px;
  margin-bottom: 10px;
}

.planet p {
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  padding: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote > div {
  max-width: 800px;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote > p {
  margin-top: 50px;
  margin-left: 500px;
  font-size: 24px;
  font-weight: bolder;
}